/*Global classes*/
.container {
	padding: 0 10px;
}

.min-hight {
	min-height: 500px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff !important;
}
/*Blog Posts*/
.blog-posts h2 {
	margin-top: 0;
}

.blog-posts p {
	text-align: justify;
}

.blog-posts .carousel {
	margin-bottom: 0;
}

.blog-posts hr.blog-post-sep {
	margin: 40px 0;
}

.blog-info {
	list-style: none;
	margin: 15px 0 12px 0;
	padding-left: 0;
}

.blog-info li {
	padding: 0;
	color: #555;
	font-size: 13px;
	margin-right: 10px;
	display: inline-block;
}

.blog-info li i {
	color: #0da3e2;
}

.blog-posts .pagination {
	margin-top: 40px;
}

/*Blog Sidebar*/
.recent-news {
	overflow: hidden;
}

.recent-news h3 {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

.recent-news-inner {
	padding: 0;
}

.blog-talks .tab-style-1 ul.nav-tabs li>a {
	min-width: 50px;
}

.blog-photo-stream li {
	overflow: hidden;
	margin: 0 5px 8px 0;
	display: inline-block;
}

.blog-photo-stream li img {
	width: 54px;
	height: 54px;
	padding: 2px;
	border: solid 1px #eee;
}

.blog-photo-stream li img:hover {
	border-color: #0da3e2;
	box-shadow: 0 0 1px #fff;
	transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.blog-tags ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.blog-tags li {
	position: relative;
	margin: 0 16px 7px 0;
	display: inline-block;
}

.blog-tags li a {
	color: #555;
	background: #f5f5f5;
	display: inline-block;
	padding: 3px 5px 3px 3px;
}

.blog-tags li a:hover {
	color: #fff;
	background: #0da3e2;
	text-decoration: none;
}

.blog-tags li a:hover i {
	color: #fff;
}

.blog-tags li i {
	color: #0da3e2;
	margin-right: 5px;
	display: inline-block;
}

.blog-tags li a:after {
	top: 50%;
	width: 0;
	left: 100%;
	height: 0;
	z-index: 2;
	content: " ";
	display: block;
	margin-top: -12px;
	position: absolute;
	border-left: 12px solid #f5f5f5;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.blog-tags li a:hover:after {
	border-left-color: #0da3e2;
}

/* Blog Sidebar categories BEGIN */
.sidebar-categories li a {
	padding: 10px 0;
	border-bottom: 1px solid #E0DEDE;
	color: #333;
}

.sidebar-categories li a:hover {
	background: none;
}

.sidebar-categories li>a:hover, .sidebar-categories li.active>a,
	.sidebar-categories li.active:hover>a {
	color: #0da3e2;
}

.sidebar-categories li a:before {
	content: "";
	font-family: FontAwesome !important;
	font-size: 8px;
	padding-right: 10px;
	position: relative;
	top: -1px;
}
/* Blog Sidebar categories END */

/***
Blog Item
***/
.blog-item .blog-item-img {
	margin: 6px 0 25px;
}

.blog-item .blog-item-img .carousel {
	margin-bottom: 0;
}

.blog-item blockquote {
	margin: 20px 40px 18px;
	border-color: #0da3e2;
}

.blog-item .blog-info {
	margin: 20px 0;
	padding: 8px 0;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.blog-item .blog-info li {
	padding-left: 13px;
	border-left: solid 1px #eee;
}

.blog-item .blog-info li:first-child {
	padding-left: 0;
	border-left: none;
}

.blog-item .blog-item-img .carousel-control {
	top: 45%;
}

.blog-item img.media-object {
	top: 2px;
	width: 60px;
	height: 60px;
	position: relative;
}

.blog-item h4.media-heading {
	position: relative;
}

.blog-item h4.media-heading span {
	right: 0;
	top: 3px;
	color: #777;
	font-size: 12px;
	font-weight: 400;
	position: absolute;
}

.blog-item h4.media-heading span a {
	color: #0da3e2;
}

body {
	color: #000;
	direction: ltr;
	font-family: 'Open Sans' !important;
	font-size: 13px;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.blog-info {
	list-style: none outside none;
}

.blog-info li {
	color: #555;
	display: inline-block;
	font-size: 13px;
	margin-right: 10px;
	padding: 0;
}

div, input, select, textarea, span, img, table, td, th, p, a, button, ul,
	code, pre, li {
	border-radius: 0 !important;
}

.sidebar-categories li a:before {
	content: "";
	font-family: FontAwesome !important;
	font-size: 8px;
	padding-right: 10px;
	position: relative;
	top: -1px;
}

.sidebar-categories li a {
	border-bottom: 1px solid #e0dede;
	color: #333;
	padding: 10px 0;
}

.nav>li>a {
	display: block;
	padding: 15px 15px;
	position: relative;
}

a, a:focus, a:hover, a:active {
	outline: 0 none;
}

div, input, select, textarea, span, img, table, td, th, p, a, button, ul,
	code, pre, li {
	border-radius: 0 !important;
}

a {
	background: none repeat scroll 0 0 transparent;
	text-decoration: none;
}

.footer {
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
	margin-top: 70px;
	padding: 30px 0;
	text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("resource/bootstrap/img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	*margin-right: .3em;
}

[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
	*margin-left: 0;
}

.icon-white {
	background-image:
		url("resource/bootstrap/img/glyphicons-halflings-white.png");
}

.icon-glass {
	background-position: 0 0;
}

.icon-music {
	background-position: -24px 0;
}

.icon-search {
	background-position: -48px 0;
}

.icon-envelope {
	background-position: -72px 0;
}

.icon-heart {
	background-position: -96px 0;
}

.icon-star {
	background-position: -120px 0;
}

.icon-star-empty {
	background-position: -144px 0;
}

.icon-user {
	background-position: -168px 0;
}

.icon-film {
	background-position: -192px 0;
}

.icon-th-large {
	background-position: -216px 0;
}

.icon-th {
	background-position: -240px 0;
}

.icon-th-list {
	background-position: -264px 0;
}

.icon-ok {
	background-position: -288px 0;
}

.icon-remove {
	background-position: -312px 0;
}

.icon-zoom-in {
	background-position: -336px 0;
}

.icon-zoom-out {
	background-position: -360px 0;
}

.icon-off {
	background-position: -384px 0;
}

.icon-signal {
	background-position: -408px 0;
}

.icon-cog {
	background-position: -432px 0;
}

.icon-trash {
	background-position: -456px 0;
}

.icon-home {
	background-position: 0 -24px;
}

.icon-file {
	background-position: -24px -24px;
}

.icon-time {
	background-position: -48px -24px;
}

.icon-road {
	background-position: -72px -24px;
}

.icon-download-alt {
	background-position: -96px -24px;
}

.icon-download {
	background-position: -120px -24px;
}

.icon-upload {
	background-position: -144px -24px;
}

.icon-inbox {
	background-position: -168px -24px;
}

.icon-play-circle {
	background-position: -192px -24px;
}

.icon-repeat {
	background-position: -216px -24px;
}

.icon-refresh {
	background-position: -240px -24px;
}

.icon-list-alt {
	background-position: -264px -24px;
}

.icon-lock {
	background-position: -287px -24px;
}

.icon-flag {
	background-position: -312px -24px;
}

.icon-headphones {
	background-position: -336px -24px;
}

.icon-volume-off {
	background-position: -360px -24px;
}

.icon-volume-down {
	background-position: -384px -24px;
}

.icon-volume-up {
	background-position: -408px -24px;
}

.icon-qrcode {
	background-position: -432px -24px;
}

.icon-barcode {
	background-position: -456px -24px;
}

.icon-tag {
	background-position: 0 -48px;
}

.icon-tags {
	background-position: -25px -48px;
}

.icon-book {
	background-position: -48px -48px;
}

.icon-bookmark {
	background-position: -72px -48px;
}

.icon-print {
	background-position: -96px -48px;
}

.icon-camera {
	background-position: -120px -48px;
}

.icon-font {
	background-position: -144px -48px;
}

.icon-bold {
	background-position: -167px -48px;
}

.icon-italic {
	background-position: -192px -48px;
}

.icon-text-height {
	background-position: -216px -48px;
}

.icon-text-width {
	background-position: -240px -48px;
}

.icon-align-left {
	background-position: -264px -48px;
}

.icon-align-center {
	background-position: -288px -48px;
}

.icon-align-right {
	background-position: -312px -48px;
}

.icon-align-justify {
	background-position: -336px -48px;
}

.icon-list {
	background-position: -360px -48px;
}

.icon-indent-left {
	background-position: -384px -48px;
}

.icon-indent-right {
	background-position: -408px -48px;
}

.icon-facetime-video {
	background-position: -432px -48px;
}

.icon-picture {
	background-position: -456px -48px;
}

.icon-pencil {
	background-position: 0 -72px;
}

.icon-map-marker {
	background-position: -24px -72px;
}

.icon-adjust {
	background-position: -48px -72px;
}

.icon-tint {
	background-position: -72px -72px;
}

.icon-edit {
	background-position: -96px -72px;
}

.icon-share {
	background-position: -120px -72px;
}

.icon-check {
	background-position: -144px -72px;
}

.icon-move {
	background-position: -168px -72px;
}

.icon-step-backward {
	background-position: -192px -72px;
}

.icon-fast-backward {
	background-position: -216px -72px;
}

.icon-backward {
	background-position: -240px -72px;
}

.icon-play {
	background-position: -264px -72px;
}

.icon-pause {
	background-position: -288px -72px;
}

.icon-stop {
	background-position: -312px -72px;
}

.icon-forward {
	background-position: -336px -72px;
}

.icon-fast-forward {
	background-position: -360px -72px;
}

.icon-step-forward {
	background-position: -384px -72px;
}

.icon-eject {
	background-position: -408px -72px;
}

.icon-chevron-left {
	background-position: -432px -72px;
}

.icon-chevron-right {
	background-position: -456px -72px;
}

.icon-plus-sign {
	background-position: 0 -96px;
}

.icon-minus-sign {
	background-position: -24px -96px;
}

.icon-remove-sign {
	background-position: -48px -96px;
}

.icon-ok-sign {
	background-position: -72px -96px;
}

.icon-question-sign {
	background-position: -96px -96px;
}

.icon-info-sign {
	background-position: -120px -96px;
}

.icon-screenshot {
	background-position: -144px -96px;
}

.icon-remove-circle {
	background-position: -168px -96px;
}

.icon-ok-circle {
	background-position: -192px -96px;
}

.icon-ban-circle {
	background-position: -216px -96px;
}

.icon-arrow-left {
	background-position: -240px -96px;
}

.icon-arrow-right {
	background-position: -264px -96px;
}

.icon-arrow-up {
	background-position: -289px -96px;
}

.icon-arrow-down {
	background-position: -312px -96px;
}

.icon-share-alt {
	background-position: -336px -96px;
}

.icon-resize-full {
	background-position: -360px -96px;
}

.icon-resize-small {
	background-position: -384px -96px;
}

.icon-plus {
	background-position: -408px -96px;
}

.icon-minus {
	background-position: -433px -96px;
}

.icon-asterisk {
	background-position: -456px -96px;
}

.icon-exclamation-sign {
	background-position: 0 -120px;
}

.icon-gift {
	background-position: -24px -120px;
}

.icon-leaf {
	background-position: -48px -120px;
}

.icon-fire {
	background-position: -72px -120px;
}

.icon-eye-open {
	background-position: -96px -120px;
}

.icon-eye-close {
	background-position: -120px -120px;
}

.icon-warning-sign {
	background-position: -144px -120px;
}

.icon-plane {
	background-position: -168px -120px;
}

.icon-calendar {
	background-position: -192px -120px;
}

.icon-random {
	background-position: -216px -120px;
}

.icon-comment {
	background-position: -240px -120px;
}

.icon-magnet {
	background-position: -264px -120px;
}

.icon-chevron-up {
	background-position: -288px -120px;
}

.icon-chevron-down {
	background-position: -313px -119px;
}

.icon-retweet {
	background-position: -336px -120px;
}

.icon-shopping-cart {
	background-position: -360px -120px;
}

.icon-folder-close {
	background-position: -384px -120px;
}

.icon-folder-open {
	background-position: -408px -120px;
}

.icon-resize-vertical {
	background-position: -432px -119px;
}

.icon-resize-horizontal {
	background-position: -456px -118px;
}

.fa {
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}