@charset "UTF-8";
* { margin: 0; padding: 0; }
body { font-size: 16px; font-family:'Verdana', "微软雅黑","Times New Roman","Arial","sans-seif";}
ul { list-style: none; }
a,a:hover, a:active, a:focus {text-decoration: none; }
.top { width: 100%;margin: 0 auto;}
.container { width: 96%;margin: 0 auto }
.header {width: 96%;overflow: hidden; margin:0 auto; }/** border-bottom: #c0c0c0 1px solid; */
.title { width: 260px; height: 55px; float: left;color:#0080c0; overflow: hidden;font-size: 3.0em;font-family: "Brush Script MT","Verdana" }
.nav { float: right; margin: 10px 0; }
.nav li { display: inline; list-style: none; padding: 5px; }
.nav li a { display: inline; background: #e5e5e5;text-shadow: none; padding: 8px 15px;border-radius: 5px ;}
.nav li a:hover, .nav #active a {background: #4b8df8; }
.content { margin: 10px 0; float: left; width: 73%;}
.hdtitle{font:1.2em ;color: #0000ff ;font-weight: 900;}/**"Times New Roman",sans-serif,"微软雅黑"; */
h2.hdnamd {width: 100% ;}
.itemlist h3 { border-bottom: 1px dashed #858585; font-size: 1.2em; padding-bottom: 5px; margin: 20px 0; }
.itemlist h3, .dateview { clear: both; }
.itemcontent { color: #666; font-size: 14px; line-height: 26px }
.dateview { margin: 0 5px; color: #939300}
.dateview span { margin: 0 5px; }
a.readmore { color: #028CC2; float: left; padding-right: 5px }
.subitems { margin: 20px 0 0 75%; font-size: 14px }
.subitemlist h3 span { color: #65b020 }
.subitemlist ul { margin-bottom: 20px }
.ewicon img { margin: 10px auto; display: block }
.footer { background: #f3f3f3; margin-top: 20px; }	
.footer div { padding: 10px 0; text-align: center; }
.clear { clear: both; height: 0; line-height: 0px; }

/* <= 960px */
@media screen and (max-width: 960px) {
.container { width: 93.75%; margin: 0 auto; }
}
/* for 768px or less */
@media screen and (max-width: 768px) {
.content { float: none; width: auto; }
.subitems { margin: 0; }
.nav,.top,.title { float: none }
.nav li { display: block; list-style: none; padding: 5px; text-align: left; }
.nav li a { display: block; padding: 8px 15px;border-radius: 5px ;}
}
/* <= 480px */
@media screen and (max-width: 480px) {
.nav,.title { float: none }
.nav li { display: block; list-style: none; padding: 5px; text-align: left; }
.nav li a { display: block; padding: 8px 15px;border-radius: 5px ;}
}
@media (min-width: 981px) {
.itemlist figure { float: left; width: 233px; margin-right: 20px; margin-bottom: 10px; }
.itemlist figure img { padding: 4px; border: #f4f2f2 1px solid; width: 225px; }
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	margin-left: 5px;
	margin-right: 1px;
	vertical-align: middle;/**text-top*/
	background-image: url("glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	}
[class^="icon-"]:last-child, [class*=" icon-"]:last-child {*margin-left: 1;}
.icon-white {background-image:url("glyphicons-halflings-white.png");}
.icon-calendar {background-position: -192px -120px;}
.icon-th-list {background-position: -264px 0;}
.icon-cog {background-position: -432px 0;}
.icon-home {background-position: 0 -24px;}
.icon-tag {background-position: 0 -48px;}
.icon-tags {background-position: -25px -48px;}
.icon-book {background-position: -48px -48px;}
.icon-bookmark {background-position: -72px -48px;}
.icon-list-alt {background-position: -264px -24px;}
.icon-user {background-position: -168px 0;}
.icon-heart {background-position: -96px 0;}
.icon-star {background-position: -120px 0;}
body{
	/* background: url("htmlbg.jpg") repeat scroll 0 0 #fff; */
}
input, textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 16px;
    line-height: 16px; 
    padding: 5px;
    width: 100%;
    margin:5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
textarea {
    overflow: auto;
    height: auto;
    vertical-align: top;
}
.input-xlarge{
	
}